@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.headline p {
    font-size: 1rem;
    color: white;
}

.wrapper {
    width: 85%;
}

#itemAndCommentCards {
    padding: 0;
    border-radius: 0;
    border: none;
    border-top: 1px solid rgba(124, 124, 124, 0.404);
}

#itemAndCommentCards:hover {
    border: 1px solid rgba(124, 124, 124, 0.404);
}

.itemBody {
    display: inline-flex;
}

.cardContent {
    display: block;
}

.cardContent h1,
h4,
.modal-confirm h4 {
    color: black;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.cardContent p,
.information p {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.363);
    text-align: start;
}

.userNameAndType p {
    text-transform: uppercase;
    margin-top: 2px;
}

#rejectButton {
    background: #ecbeb1;
}

#price {
    font-size: 1.1rem;
    color: black;
}

.more {
    display: inline-flex;
}

.image-wrapper {
    border-radius: 5px;
    height: auto;
    width: 100%;
    position: relative;
}

.information {
    display: block;
}

.addItem,
.requests {
    background: none;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: flex-end;
}

.requests {
    border: 1px solid rgba(124, 124, 124, 0.404);
}

.addItem:hover,
.requests:hover {
    margin-left: 1rem;
    border: 1px solid rgba(124, 124, 124, 0.404);
}

.editItem:hover,
.deleteItem:hover {
    transform: translateY(-8px);
    transition: transform 0.3s;
    color: #87c7b9;
    background-color: #87c7b9;
}

.addItemTable {
    align-content: center;
    text-align: start;
    border-spacing: 0;
    border-radius: 30px;
    width: 80%;
}

.addItemTable tr,
.addItemTable td {
    text-indent: 10%;
    border: none;
}

.addItemTable input,
.addItemTable select,
.addItemTable textarea {
    width: 90%;
}

.modal-confirm {
    color: #636363;
    width: 400px;
}

.modal-confirm .modal-content {
    background-color: rgb(248, 248, 248);
    padding: 20px;
    border: none;
    text-align: center;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm .close {
    font-size: 2rem;
    position: absolute;
    top: -5px;
    right: -2px;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    padding: 10px 15px 25px;
}

.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
}

.modal-confirm .icon-box i {
    color: #eca895;
    font-size: 64px;
    display: inline-block;
}

.categoryBox {
    margin-bottom: 7rem;
}

.badges {
    position: absolute;
    top: -10px;
    right: -12px;
    width: 1.5rem;
    border-radius: 50%;
    background-color: #e97f61;
    color: white;
}

#locationLink:hover {
    font-style: italic;
}
