@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

body {
    background: #f8f9fa;
}

.carousel-item {
    height: 30rem;
    background: rgba(29, 29, 29, 0.925);
    color: white;
    position: relative;
}

.headline {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
    display: block;
    margin-block-start: 1em;
}

.overlay-image {
    position: absolute;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    background-position: center;
    background-size: cover;
    opacity: 0.65;
}


.container-custom {
    width: 85%;
}

.card {
    border-color: #7fd2c0;
    border-radius: 20px;
}

.card:hover {
    transform: translateY(-15px);
    transition: transform 0.3s;
}

.card-text {
    line-height: 17px;
}

.star {
    color: #fbc02d;
}

.btn {
    background: #7fd2c079;
    border-radius: 30px;
    text-transform: uppercase;
    white-space: nowrap;
}

.cover {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.filters {
    background: none;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: flex-end;
}

.searchInput .btn,
.filterInput .btn,
.sortInput .btn {
    background: #ecbeb1;
}

.form-control,
.form-select {
    height: 35px;
    font-size: 14px;
    border-radius: 15px;
}
