@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     font-family: 'Montserrat', sans-serif;
 }
 
 body{
     background: #f8f9fa;
 }
 

p {
     color: #6c757d;
     }
a {
     text-decoration: none;
    color: var(--text-clr);
 }
 a:hover {
    text-decoration: none; color: var(--text-clr); 
   }

.main_cart {
     background: #fff; 
    } 

.product_img img { min-width: 200px; max-height: 200px; }
.product_name { color: black; font-size: 1.4rem; text-transform: capitalize; font-weight: 500; }
.card-title p { font-size: 0.9rem; font-weight: 500; } 
.remove-and-wish p { font-size: 0.8rem; margin-bottom: 0; } 
.price-money h3 { font-size: 1rem; font-weight: 600; } 
.set_quantity { position: relative; } 
.page-link { 
    line-height: 16px;
    width: 45px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; color: #495057;

 }
.page-item input { 
    border-radius: 15px;
    line-height: 22px;
     padding: 3px; font-size: 15px; display: flex; justify-content: center; align-items: center; text-align: center; } 
.page-link:hover { text-decoration: none; color: #495057; outline: none !important; } .page-link:focus { box-shadow: none; } 
.price_indiv p { font-size: 1.1rem; } 

.buttonGroup{
     background: #7fd2c079;
     border-radius: 30px;
     text-transform: uppercase;
     white-space: nowrap;
 }
 
 .buttonGroup.active{
     background: #ecbeb1;
 }
 .card.cartItemCard{
     border: none;
     border-color: white;
     border-radius: 0px;
 }
 
 .card.cartItemCard:hover {
    transform: none;
    transition: none;
}

.form-control,
.form-select {
    height: 35px;
    font-size: 14px;
    border-radius: 15px;
}
